{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show jumbotron">
    <p>
    	<strong>{{ 'profile.show.username'|trans }}:</strong> {{ user.username }}
	</p>
    <p>
    	<strong>{{ 'profile.show.email'|trans }}:</strong> {{ user.email }}
	</p>
</div>
