{% extends '::base.html.twig' %}

{% block accueil %}
	{% if affichage == "tout" %}
		class="active"
	{% endif %}
{% endblock %}

{% block en_cours %}
	{% if affichage == "en_cours" %}
		class="active"
	{% endif %}
{% endblock %}

{% block terminees %}
	{% if affichage == "terminees" %}
		class="active"
	{% endif %}
{% endblock %}

{% block body %}
	{% for task in tasks %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{ task.title }}
				</h3>
			</div>
			<div class="panel-body">
				{{ task.description }}
			</div>
			{% if task.dueDate %}
				<div class="panel-footer">
					{{ task.dueDate|date('d-m-Y h:i') }}
				</div>
			{% endif %}
		</div>
	{% endfor %}
{% endblock %}